@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #e3f2fd;
}
.sec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    
}
/* .left{
    margin-left: 1000px;
} */
::-webkit-scrollbar {
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb {
  background: #6e93f7;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4070f4;
}
.container {
  display: flex;
  gap: 12px;
  /* max-width: 400px; */
  width: 90%;
  height: 100%;
  background: #4070f4;
  border-radius: 12px;
  padding: 30px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-padding: 30px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
.container .card {
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 12px;
  background: #fff;
  scroll-snap-align: start;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  margin:20px
}
.card .image {
  height: 150px;
  width: 150px;
  padding: 4px;
  background: #4070f4;
  border-radius: 50%;
}
.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #fff;
}
.card h2 {
  margin-top: 25px;
  color: #333;
  font-size: 22px;
  font-weight: 600;
}
.card p {
  margin-top: 4px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  text-align: center;
}
/* second */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.circular-progress{
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.circular-progress::before{
    content: "";
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: #fff;
}
.progress-value{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: #7d2ae8;
}
.text{
    font-size: 30px;
    font-weight: 500;
    color: #606060;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 80px;
    /* background-color: #dadada; */
    margin: 0 auto;
}

nav img{
    width: 110px;
}

nav #links{
    display: inline-flex;
    align-items:center ;
}

nav #links a{
    margin-left: 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(16, 69, 86);
    font-weight: 800;
    opacity: .6;
    letter-spacing: 4px;

}
nav #links a.active::after{
    content: " ";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: black;
    bottom: 0;
    
}
nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #fd4766;
    transition: 0.3s;
    bottom: 0;
  }

nav #links i{
    margin-left: 50px;
}

nav #links a:nth-child(2){
    color: #3f87f4;
}